body {
    font: 100% $font-stack;
    @include flex;
    flex-direction: column;
    height: 100%; 
  
}

.navbar {
    list-style-type: none;
    padding: 15px;
    margin: 0;
    background-color: $navbar;
    @include flex;
    @include justify-content(center);

    &-link { 
        text-decoration: none;
        color: black;
        padding: 30px; 
    } 
}

.column-wrapper {
    @include flex;
    @include justify-content(space-around);
    height: 500px;    
    color: $column-text;
    text-align: center;
    
    .hexagon {
        margin: 10px;
        max-width: 70px;
        height: 70px;
    }

    &-column {
        width: 100%;
        background-color: #CCCCCC;
        @include flex;
        @include justify-content(center);
        align-items: center;
        flex-direction: column;
    }
    .column-left {
        background-color: $column-1;
    }
    .column-middle {
        background-color: $column-2;
    }
    .column-right {
        background-color: $column-3;

    }
}

.introduction-wrapper {
    text-align: center;
    padding: 40px;

    &-text {
        @include flex;
        @include justify-content(center);
        flex-wrap: wrap;
        &-1, &-3 {
            text-align: justify;
            width: 500px;
            margin: 25px 70px 0 10px;
        }
        &-2, &-4 {
            text-align: justify;
            width: 500px;
            margin: 15px 10px 0 70px;
        }
        &-4 {
            li {
                margin: 5px;
            }
        }
    }
}

.subtitle-wrapper {
    text-align: center;
    &-block {
        text-align: center;
        height: 500px;
        background-color: $subtitle-wrapper;
        margin: 0 140px 50px;
        @include flex;
        @include justify-content(space-around);
        flex-direction: column;
        align-items: flex-end;
        padding-right: 20px;

        &-small {
            width: 100px;
            height: 100px;
            background-color: $subtitle-wrapper-box;

            &-active {
                width: 100px;
                height: 100px;
                background-color: #E6E6E6;
            }
        }
    }
}

.second-subtitle-wrapper {
    text-align: center;


    &-input {
        @include flex;
        @include justify-content(center);
        align-items: center;
        flex-wrap:wrap;
        flex-direction:row;
        &-1, &-2, &-3, &-4 {
  
            height: 40px;
            width: 570px;
            margin: 7px 10px;
            background-color: $input-box;
        }
        
    }
    &-second-input {
        @include flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 200px;
    
        &-1 {
            flex: 0 0 80%;
            background: $input-box;
            width: 570px;
            margin-left: 140px;
            margin-top: 10px;
        }
      
        &-2 {
            flex: 0 0 20%;
            background: $input-box;
            width: 570px;
            margin-right: 120px;
            margin-top: 10px;
        }
        
        // checkbox text
        &-3 {
            align-self: flex-start;
            margin-top: 30px;
            margin-left: 30px;
        }

        &-4 {
            flex: 0 0 20%;
            width: 130px;
            margin-top: 30px;
            margin-right: 140px;
            background: $input-button;
            align-self: flex-end;
            cursor: pointer;
        }
      }
}

footer {
    flex: none;
    background-color: $footer-color;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
