//link properties
$link-color: #333;

//colors
$black :#333;
$grey: #efefef;
$red: #fc354c;
$white: #FFF;

//column colors
$column-1: #464646;
$column-2: #8B8B8B;
$column-3: #BFBFBF;
$column-text: #FFF;

// nav bar properties
$navbar: #CCCCCC;

// subtitle wrapper
$subtitle-wrapper: #BFBFBF;
$subtitle-wrapper-box: #FFF;

$input-box: #BFBFBF;
$input-button: #464646;

$sidebar_width: 300px;

$navigation: 'navbar';

$font-stack: Helvetica, sans-serif;