body {
    font: 100% $font-stack;
    color: $red;
 
.homepage {
      .div-test {
          text-align: center;
          a {
              text-decoration: none;
          }
        }
        .navbar {
            list-style-type: none;
            margin: 0;
            padding: 15px;
            background-color: $navbar;
            display: inline-block;
            width: 100%;
            text-align: center; 

            &__li { 
                width: auto;
                display: inline-block; 
            } 
            &__link { 
                text-decoration: none;
                color: black;
                padding: 30px; 
            } 
        }
    }
}